body {
    margin: 0;
    font-family: "Montserrat", sans-serif;

    h1 {
        margin: 1.5rem auto;
        text-align: center;
        font-size: 2.5rem;
        color: #1d2939;
        text-shadow: 0.03em 0.07em 0 rgba(0, 0, 0, 0.3);
    }

    nav {
        display: flex;
        justify-content: space-around;
        
        background-image: linear-gradient(to right top,#63747c,#71858e,#7f96a0,#8da8b2,#9bbac5);
    
        &.sunny {
            background-image: linear-gradient(to right top,#ff4e50,#ff713e,#ff932b,#ffb41d,#f9d423);
        }

        &.cloudy {
            background-image: linear-gradient(to right top,#99bbcb,#a5c7d7,#b1d4e2,#bde0ee,#c9edfa);
        }

        &.rainy {
            background-image: linear-gradient(to right top,#637c7b,#718e8c,#7ea09e,#8db2b0,#9bc5c3);
        }

        a.nav-menu {
            text-decoration: none;
            font-size: 1.3rem;
            font-weight: bold;
            color: #1d2939;
            padding: 1rem 0;
        }
    }
    
    section {
        margin-left: 4rem;
    
        &#controladores {
            display: block;
    
            button{
                display: block;
                margin: 1rem 0;
            }
        }
    
        // Sensores
        &#sensores {
            form {
                label, input{
                    display: block;
                    margin-bottom: 0.5rem;
                }
            }
        }

        &#agente{
            strong{
                color: red;
            }
        }

        &#dibujo-casa {
            position: absolut;
          
            .pared-frontal {
                background-color: rgb(0, 155, 219);
                position: relative;
                width: 650px;
                height: 520px;
                z-index: 5;
          
                .persiana {
                    background-color: rgb(217, 146, 89);
                    position: relative;
                    top: 175px;
                    left: 102px;
                    width: 150px;
                    height: 150px;
                    z-index: 10;
                }
            
                .animacion {
                    -webkit-transition: all 2s ease;  
                    -moz-transition: all 2s ease;  
                    -o-transition: all 2s ease;  
                    -ms-transition: all 2s ease;  
                    transition: all 2s ease;
                }
            
                .abrir-persiana {
                    height: 25px;
                }
            
                .ventana{
                    width: 250px;
                    height: 187px;
                    position: relative;
                    top: 160px;
                    left: 290px;
                    z-index: 15;
                }
            
                .aire-acondicionado{
                    position: absolute;
                    top: 20px;
                    left: 30px;

                    .circulo-estado {
                        background-color: red;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        position: relative;
                        right: 175px;
                    }

                    .ac-encendido{
                        background-color: green;
                    }
                }
            }
        }

        &#database{
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%; 
                text-align: center;   

                td, th {
                    border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;
                }
                
                tr:nth-child(even) {
                    background-color: #dddddd;
                }
            }
        }
    }
      
    div {
        display: flex;
        margin: 1rem 0;
    
        p {
            margin: 0;
            padding-left: 0.5rem;
        }
    
        &.error {
            display: block;
            margin-top: 2rem;
    
            strong{
                color: red;
                margin-top: 2rem;
            }
    
            li{
                margin-bottom: 1rem;
            }
        }
    }

    .hidden {
        display: none;
    }
}