<!-- templates/home.html -->
{% extends 'base.html' %}

{% load static i18n %}

{% block head %}
    Welcome!
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
    {% else %}
        <p>{% trans "You are not log in" %}</p>
        <a href="{% url 'login' %}">login</a>
    {% endif %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}